// MOBILE
@accordion-control__background-color: @color-blue3;
@accordion-control__color: @color-black;
@accordion-content__background-color: @color-white;
@accordion-control__active__background-color: @color-sky-blue1;

//DESKTOP
@tab-control__background-color:@color-blue3;
@tab-control__color: @color-black;
@tab-content__background-color: @color-white;

@tab-control__hover__background-color: @color-sky-blue1;
@tab-control__active__background-color: @color-sky-blue1;
@tab-control__active__color: @color-black;
.data.switch .counter {
    color: @color-black;
}
