& when (@media-common = true) {
    .footer.content {
        .links > li {
            background-color: @color-sky-blue1;
            font-weight: @font-weight__bold;
        }
    }
    .copyright {
        background-color:@color-blue3;
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        background-color:@color-sky-blue1;
        .newsletter h4 {
            color: @color-white;
        }
    }
}

@footer-links-color: @color-white;
@footer-links-color-hover: @color-white;

